extends header.pug

block content
    div(style="padding: 10px 0 10px 0px")
        a(class="button is-primary is-small" href="/containers/new") 
            i(class="fas fa-plus fa-sm" style="padding-right: 10px")
            span container

    table(class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="margin-bottom: 30px")
        thead
            tr
                th(class="has-text-info") Containers
        tbody
            each c, i in containers
                tr
                    td  
                        if c.State === "running"
                            a(href="/containers/"+c.Id)
                                i(class="fas fa-circle fa-sm has-text-success" style="margin-right: 10px")
                                small
                                    b #{c.Id} 
                                small #{c.Image}
                        else
                            a(href="/containers/"+c.Id)
                                i(class="fas fa-power-off fa-sm has-text-danger" style="margin-right: 10px") 
                                small
                                    b #{c.Id} 
                                small #{c.Image}

