extends header.pug

block content
    h1(class="has-text-centered is-size-4")
        b NEW CONTAINER
    hr
    form(action="/containers/new" method="post")
        div(class="field")
            label(class="label") Image
            div(class="control")
                input(class="input" name="Image" value="")
        div(class="field")
            label(class="label") Name
            div(class="control")
                input(class="input" name="name" value="")
        div(class="field")
            label(class="label") RAM
            div(class="control")
                input(class="input" name="RAM" value="")
        div(class="field")
            label(class="label") CPU
            div(class="control") 
                input(class="input" name="CPU" value="")
        div(class="field")
            label(class="label") Volumes
            div(class="control")
                input(class="input" name="Volume" value="")
        div(class="field")
            label(class="label") Ports 
            small list all here separate with semicolon ";" example: containerPort:hostPort "22/tcp:11022;80/tcp:80"
            div(class="control")
                input(class="input" name="PortBindings" value="")
        div(class="field")
            label(class="label") Environment variables
            small list all here separate with semicolon ";" example: "FOO=bar;BAZ=quux"
            div(class="control")
                input(class="input" name="Env" value="")
        div(class="control")
            input(class="button is-primary" type="submit" value="Submit")
        